<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar" mode="md">
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-menu-button class="menu-btn"></ion-menu-button>
        </ion-col>
        <ion-col>
          <ion-title class="menu-ion-title">
            <div class="menu-logo-div">
              <span class="span-usina">Usina</span><br/>
              <span class="span-play">Play</span>
              <img class="play-icon" src="../../assets/icon/play.png" alt="Play" width="30">
            </div>
          </ion-title>
        </ion-col>
        <ion-col>
          <ion-icon class="menu-notification-icon" name="notifications-sharp"></ion-icon>
          <ion-badge class="notification-badge" color="success">.</ion-badge>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="profile-item" lines="none">
            <ion-avatar class="avatar" aria-hidden="true" slot="start">
              <img class="profile-photo" alt="Foto de perfil" src="https://firebasestorage.googleapis.com/v0/b/teste-c55e6.appspot.com/o/images%2Fthe-rock.webp?alt=media&token=01805f74-b332-46ed-8c13-24629874a042"/>
            </ion-avatar>
            <ion-label>
              <strong>Leonardo Santos</strong>
              <br/>
              <ion-text class="level-text" color="tertiary">Nível Roxo</ion-text>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-chip class="chips">
              <ion-icon name="body-sharp" class="body-icon"></ion-icon>
              <ion-label>MEU CORPO</ion-label>
              <ion-icon name="trophy-sharp" class="trophy-icon"></ion-icon>
              <ion-label>OBJETIVOS E CONQUISTAS</ion-label>
            </ion-chip>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>