<ion-grid class="scroll-grid">
  <ion-row>
    {{ title }}
  </ion-row>
  <ion-row class="scroll">
    <ion-col size="9">
      <ion-card class="muscle-card">
        <img alt="Silhouette of mountains" class="card-img" src="../../../assets/images/musculacao-01.webp" />
          <h3 class="overflow-title">
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              NOVO<br/>TREINO
          </h3>
      </ion-card>
    </ion-col>
    <ion-col size="9">
      <ion-card class="muscle-card">
        <img alt="Silhouette of mountains" class="card-img" src="../../../assets/images/musculacao-01.webp" />
          <h3 class="overflow-title">
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              NOVO<br/>TREINO
          </h3>
      </ion-card>
    </ion-col>
    <ion-col size="9">
      <ion-card class="muscle-card">
        <img alt="Silhouette of mountains" class="card-img" src="../../../assets/images/musculacao-01.webp" />
          <h3 class="overflow-title">
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              NOVO<br/>TREINO
          </h3>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>