.scroll{
    flex-wrap: nowrap;
    overflow-x: scroll!important;
    overflow-y: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scroll-grid {
    margin-top: 30px;
    padding: 0px 20px;
}

.overflow-title {
    position: absolute;
    width: 100%;
    top: 0px;
    color: #ffffff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    background: #000000b3;
    font-weight: 400;
}

.add-icon {
    width: 55px;
    height: 55px;
    border: 2px solid #ffffff;
    margin-right: 10px;
}

.new-badge, .title-icon {
    height: 15px;
}

.title-icon {
    width: 15px;
    border: 1px solid var(--orange-custom);
}

.add-icon, .title-icon {
    border-radius: 50%;
}

.title-icon, .label1 {
    color: var(--orange-custom);
}

.new-badge, .title-icon {
    margin-left: 5px;
}

.new-badge {
    --background: var(--orange-custom);
    font-size: 8px;
    padding: 0px 3px;
    line-height: 15px;
}

.card-img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.muscle-card {
    max-height: 160px;
    border-radius: 20px;
}

.label1 {
    margin: 0px;
}

.span-programs {
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}